<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" ng-app="activitiApp">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
    <title></title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script type="text/ng-template" id="personalidentifier.html">
        <label><span>{{field.name}}</span><input name="{{id}}" type="number"/><span ng-if="field.required">*</span></label>
    </script>
    <script type="text/ng-template" id="address.html">
        <label><span>{{field.name}}</span><input name="{{id}}" type="text"/><span ng-if="field.required">*</span></label>
    </script>
</head>
<body class="starter-template">
<div class="container">
    <h1>Översikt</h1>

    <h2>Processer</h2>

    <div class="starter-template" ng-controller="ProcessController">
        <ul>
            <li ng-repeat="process in processes">
                <span class="lead">{{process.info.name}}</span>
                <p>{{process.info.description}}</p>
                <button ng-click="showForm(process)">Starta denna</button>
                <ul>
                    <li ng-repeat="field in process.form.fields" ng-include="field.type + '.html'"/>
                    <li ng-if="process.form.fields.length>0"><button>Starta</button></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>